body {
    display: flex;
    background-image: url('background-home-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height: 97vh;
  }
  .logo{
    position: fixed;
    top: 46px;
    left: 90px;
    height: 50px;
    width:  50px;
  }
  .line{
    background-color: rgb(83, 83, 83);
    position:fixed;
    top: 65px;
    left: 235px;
    height: 0.5px;
    width: 550px;
  }
  nav{
    display: flex;
    top: 30px;
    background-color: inherit;
    backdrop-filter: blur(20px);
    position: fixed;
    right: 0;
    z-index: 1;
    justify-content: center;
    height: 80px;
    width: 750px;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  nav a{
    text-decoration: none;
  }
  .box{
    color: aliceblue;
    text-align: center;
    margin: 10px;
    width:120px;
    height: 40px;
    margin-right: 24px;
    padding-top: 10px;
    margin-top: 10px;
  }
  nav a.box,
  nav a:hover {
    background-color:rgb(182, 222, 255);
    height: 1px;
  }
  .text{
    position:fixed;
    right: 825px;
    z-index: 1;

    top: 300px;
    width:max-content;
    color: rgb(255, 255, 255);
  }
  .h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .space{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 170px;
  }
.txt{
    margin-top: 0;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .a{
    text-decoration: none;
}
  .explore{
    background-color: aliceblue;
    text-align: center;
    font-size: 45px;
    position:fixed;
    right: 200px;
    top: 450px;
    z-index: 1;
    width: 280px;
    height: 260px;
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.6;
  }
  .explore:hover{
    font-weight: bold;
    font-size: 50px;
    margin-left: 8%;
    opacity: 0.8;
    
  }
  .explore p{
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 100px;
    transition: opacity 0.8s ease-in-out;
    opacity: 0.8;
  }
